.form-group{
    margin: 2rem 0;
    width: 25rem;
}
.form{
    /* border: solid 1px black; */
    max-width: 30rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* body{
    background-color: #482121;
}
*{
    background-color: initial;
} */